= render :partial => 'spree/admin/shared/product_sub_menu'
= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Images' }
%h2 Edycja opisów na zdjęciu produktu/wariantu
%p.small
  Tu będzie opis działania zoomera
%p
  = link_to image_tag(@image.attachment.url(:small)), @image.attachment.url(:large)
%p.form-buttons{"data-hook" => "buttons"}
  = link_to t(:cancel), admin_product_images_url(@product), :id => 'cancel_link'